body {
  padding: 40px 20% 20px 10%;
}
h1 {
  padding: 20px 0;
  font-size: 2.5em;
  text-align: center;
}
.table,
.form-inline {
  margin-top: 20px;
}
input {
  margin: 0 12px 0 0;
}
.container {
  background: rgba(255, 255, 255, 0.65);
}
